    <%= flash[:message] if flash[:message] %>
    <h1>Please set up your profile settings</h1>
    <%= form_for(@profile) do |f| %>
      <%= f.label :location %>
      <%= f.collection_select :location, @locations, :id, :name, includes_blank: true %><br>
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.label :address %>
      <%= f.text_field :address %><br>
      <%= f.label :phone %>
      <%= f.number_field :phone %><br>
      <%= f.submit %>
    <% end %>
