    <%= flash[:message] if flash[:message] %>
    <p>
          <%=  @profile.name  %> <br />
          <%=  @profile.address  %> <br />
          <%=  @profile.phone  %> <br />
    </p>
          <% if @profile.user.id == current_user %>
          <%= link_to "Edit Profile", edit_profile_path, class: "waves-effect waves-light btn" %>
          <% end %>
