<br />
<div class="row">

    <div class="col s12 m12 l12"> <!-- Note that "m8 l9" was added -->
    <h3>
      Welcome, <%= "#{@user.profiles.first.name.titleize}" %><br />
    </h3>

    <div>
      <h5>Community Puddle statistics:</h5>
    <ol class="card">

      <li>
        <%= "#{Driver.most_puddles_driver_name} has driven the most, with a total of #{Driver.most_puddles_count} puddles!" %>
      </li>

        <% if @user.drivers.first && !@user.drivers.first.butts_to_seats_ratio.nan? %>

        <li>
          You have driven <%= @user.drivers.first.driven_puddles %> puddles, while helping <%= @user.drivers.first.total_passengers %> people get to work.
        </li>


        <li>
          You have had <%= @user.drivers.first.total_seats %> empty seats, with your capacity averaging <%= "#{@user.drivers.first.butts_to_seats_ratio}%" %>.
        </li>

        <% end %>
    </ol>
  </div>



       <% if @user.drivers.first && @user.drivers.first.upcoming_puddles %>
          <h5>Here are your upcoming puddles as a driver:</h5>
          <div class="row">
          <% @user.drivers.first.upcoming_puddles.each do |puddle| %>
            <div class="col l4 m12 s12">
              <div class="card" style="font-size:1em">
                <div class="card-action center">
                  <p>Departure Time: </p>
                  <ul>
                    <li><%= puddle.formatted_departure_time_day %></li>
                    <li><%= puddle.formatted_departure_time_date %></li>
                    <li><%= puddle.formatted_departure_time_time %></li>
                  </ul>
                  <p>Seats Remaining: <%= puddle.seats %></p>
                  <%= link_to "See this Puddle", puddle_path(puddle) %><br />
                </div>
              </div>
            </div>
          <% end %>
          </div>
       <% else %>
          <h5>You have no upcoming puddles as a driver.</h5>
       <% end %>



      <% if @user.passengers.first && @user.passengers.first.upcoming_puddles %>
        <h5>Here are your upcoming puddles as a passenger:<br /></h5>
        <div class="row">
        <% @user.passengers.first.upcoming_puddles.each do |puddle| %>
             <div class="col l4 m12 s12">
               <div class="card" style="font-size:1em">
                 <div class="card-action center" style="font-size:.9em;;"><%=link_to "Driver: #{puddle.driver_name}", profile_path(puddle.driver_id)%></div>
                 <div class="card-action center">
                   <p>Departure Time: </p>
                   <ul>
                     <li><%= puddle.formatted_departure_time_day %></li>
                     <li><%= puddle.formatted_departure_time_date %></li>
                     <li><%= puddle.formatted_departure_time_time %></li>
                   </ul>
                   <p>Seats Remaining: <%= puddle.seats %></p>
                   <%= link_to "See this Puddle", puddle_path(puddle) %>
                   <br />
                 </div>
               </div>
             </div>
           <% end %>
         </div>
      <% else %>
          <h5>You have no upcoming puddles as a passenger.</h5>
      <% end %>

     </div>
    </div>
