    <h1>
      <%= "Welcome, #{@user.profiles.first.name.capitalize}" %><br />
      <%= link_to "View Open Puddles", puddles_path %><br />
      <%= link_to "Create a Puddle!", new_puddle_path %><br />
      <%= link_to "View Profile", profile_path(@user.profiles.first) %><br />
      <%= link_to "Add Car", new_car_path %><br />
      <%= link_to "View Car(s)", cars_path %><br />
    </h1>
    <%= flash[:message] if flash[:message] %>
    <p>
       Here are your upcoming rides:
    </p>
    <ul>
      <% #@user.driver.puddles %>
    </ul>
