<div class="row">

    <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <%= flash[:message] if flash[:message] %>

    <h1>
      Welcome, <%= "#{@user.profiles.first.name.capitalize}" %><br />
    </h1>

    <div>
      Here are some stats for you:
    <ul>
    <div>
      <li>
        <%= "#{Driver.most_puddles_driver_name} has driven the most, with a total of #{Driver.most_puddles_count} puddles!" %>
      </li>
    </div>
        <% if @user.drivers.first && !@user.drivers.first.butts_to_seats_ratio.nan? %>
    <div>
        <li>
          You have driven <%= @user.drivers.first.driven_puddles %> puddles, while helping <%= @user.drivers.first.total_passengers %> people get to work.
        </li>
    </div>
    <div>
        <li>
          You have had <%= @user.drivers.first.total_seats %> empty seats, with your capacity averaging <%= "#{@user.drivers.first.butts_to_seats_ratio}%" %>.
        </li>
    </div>
        <% end %>
    </ul>
  </div>



       <% if @user.drivers.first && @user.drivers.first.upcoming_puddles %>
          <h5>Here are your upcoming puddles as a driver:</h5>
          <div class="row">
          <% @user.drivers.first.upcoming_puddles.each do |puddle| %>
            <div class="col s4 m4">
              <div class="card center">
                <div class="card-image">
                  <!-- <img src = <%=asset_path("Puddlrco.jpg")%> > -->
                </div>
                <!-- <div class="card-content">
                </div> -->
                <div class="card-action">
                  <p>Departure Time: </p> <p><%= puddle.formatted_departure_time %></p>
                  <p>Seats Remaining: </p> <p><%= puddle.seats %></p>
                  <%= link_to "See this Puddle", puddle_path(puddle) %><br />
                </div>
              </div>
            </div>
          <% end %>
          </div>
       <% else %>
          <h5>You have no upcoming puddles as a driver.</h5>
       <% end %>



      <% if @user.passengers.first && @user.passengers.first.upcoming_puddles %>
        <h5>Here are your upcoming puddles as a passenger:<br /></h5>
        <div class="row">
        <% @user.passengers.first.upcoming_puddles.each do |puddle| %>
             <div class="col s4 m4">
               <div class="card center">
                 <div class="card-image">
                   <!-- <img src = <%=asset_path("Puddlrco.jpg")%> > -->
                 </div>
                 <span class=" card-title black-text ">Driver: <%=link_to " #{puddle.driver_name}", profile_path(puddle.driver_id) %></span>
                 <!-- <div class="card-content">
                 </div> -->
                 <div class="card-action">
                   <p>Departure Time: </p> <p><%= puddle.formatted_departure_time %></p>
                   <p>Seats Remaining: </p> <p><%= puddle.seats %></p>
                   <%= link_to "See this Puddle", puddle_path(puddle) %><br />
                 </div>
               </div>
             </div>
           <% end %>
         </div>
      <% else %>
          You have no upcoming puddles as a passenger.
      <% end %>

     </div>
    </div>
