<h1 class="center">Open Puddles</h1>
<div class="row">
<% @puddles.each do |puddle| %>
     <div class="col l4 m12 s12">
       <div class="card">
         <div class="card-image">
           <img src = <%=asset_path("Puddlrco.jpg")%> >
           <span class="card-title black-text"> Driver: <%=link_to " #{puddle.driver_name}", profile_path(puddle.driver_id) %></span>
         </div>
         <!-- <div class="card-content">
         </div> -->
         <div class="card-action">
           <p>Departure Time: </p> <p><%= puddle.formatted_departure_time %></p>
           <p>Seats Remaining: </p> <p><%= puddle.seats %></p>
           <%= link_to "See this Puddle", puddle_path(puddle) %><br />
         </div>
       </div>
     </div>
   <% end %>
 </div>
