<br />
<div>
  <h3 class="center">
    Open Puddles
  </h3> 
<div class="row">
<% @puddles.each do |puddle| %>
     <div class="col l4 m12 s12">
       <div class="card">
         <div class="card-image">
           <img class="materialboxed" width="650" object-fit= "fill" src = <%=asset_path("Puddlrco.jpg")%> />
         </div>
           <div class="card-action center" style="font-size:1em;"> <%=link_to "Driver: #{puddle.driver_name}", profile_path(puddle.driver_id) %></div>
         <!-- <div class="card-content">
         </div> -->
         <div class="card-action center" style="font-size:.8em">
           <p>Departure Time: </p>
           <ul>
             <li><%= puddle.formatted_departure_time_day %></li>
             <li><%= puddle.formatted_departure_time_date %></li>
             <li><%= puddle.formatted_departure_time_time %></li>
           </ul>
           <p>Seats Remaining: <%= puddle.seats %></p>
           <%= link_to "See this Puddle", puddle_path(puddle) %><br />
         </div>
       </div>
     </div>
   <% end %>
 </div>
</div>
