<%= flash[:message] if flash[:message] %>
<br />
<div class="row">

<div class="col l6 m6 s8 offset-s2">
<h3>Create a puddle</h3>
<%= form_for(@puddle) do |f| %>
  <%= f.label :seats %>
  <%= f.number_field :seats %><br>
  <%= f.label :distance, 'Distance in miles' %>
  <%= f.number_field :distance %><br>
  <%= f.label :departure_time %>
  <%= f.datetime_field :departure_time, min: DateTime.now.strftime("%H:%M") %><br>
  <%= f. submit class: "waves-effect waves-light btn" %>
<% end %>
<div class="col l6 m6 s2">
</div>
</div>
</div>
<br />
