<%= flash[:message] if flash[:message] %>
<h1>
   Puddle Info <br />
</h1>

<h2>Driver Info: <%= @puddle.driver_name %></h2>
  Departure Time: <%= @puddle.formatted_departure_time %> <br />
  Available seats:  <%= @puddle.seats %> <br />
  Maximum distance driver can travel for a pickup (in miles): <%= @puddle.distance %> <br />
  Current Passengers:
  <ul>
    <%  @puddle.passenger_list.collect do |passenger| %>
      <%= link_to passenger.user.profiles.first.name, profile_path(passenger.user.profiles.first) %>
      <% if @puddle.driver_id == session[:user_id] %>
        <%= button_to "Remove this passenger", driver_remove_passenger_path(puddle_id:@puddle.id,passenger_user_id: passenger.user_id)%>
        <% end %>
    <% end %>
  </ul>


  <%# if @puddle.driver_id == session[:user_id]%>
    <%#= form_for "Passengers", options_for_select(@puddle.passenger_list)%>
  <%#end  %>


  <%= link_to "View Open Puddles", puddles_path %><br />
  <%= link_to "View Home Page", user_path(session[:user_id]) %><br />
    <% if @puddle.driver_id == session[:user_id] %>
    <%= button_to "Destroy this Puddle", @puddle, :method => "delete" %>
    <% elsif @puddle.passenger_ids.any? {|id| id == session[:user_id]} %>
    <%= button_to "Leave this Puddle", remove_passenger_path%>
    <% elsif @puddle.seats == 0 %>
    NO SEATS Available in this puddle.
    <% else %>
    <%= button_to "Book Puddle", add_passenger_path %>
    <% end %>
