<br />
    <%= flash[:message] if flash[:message] %>
          <% if @cars && @cars.first %>
          <h3><%= "List of Cars:" %></h3> <br />
            <% @cars.each.with_index(1) do |car, index| %>
            <div class ="card-panel">
                <div class = "card-content">
               <span class="card-title"><%= "#{index}. #{car.make}"%></span>
            <ul>
              <li><%= car.model %></li>
              <li><%= car.year %></li>
              <li><%= car.color %></li>
            </ul>
            <%= link_to "Edit Vehicle", edit_user_car_path(current_user, car),class: "waves-effect waves-light btn scaler"  %><br><br>
            <%= link_to "Delete Vehicle", user_car_path(current_user, car), method: :delete, class: "waves-effect waves-light btn scaler"  %>
            </div>
          </div>
          <br><br>
            <%end%>
          <% else %>
            <h4>You have no cars saved.</h4>
            <%= link_to "Add a Car!", new_user_car_path(session[:user_id]), class: "waves-effect waves-light btn scaler" %><br />
          <% end %>
