    <%= flash[:message] if flash[:message] %>
          <% if @car.first %>
          <h1><%= "Here is your vehicle info:" %></h1> <br />
            <% @car.each.with_index(1) do |car, index| %>
            <%= "#{index}. #{car.make}" %> <br>
            <ul>
            <li><%= car.model %></li>
            <li><%= car.year %></li>
            <li><%= car.color %></li>
            </ul>
            <%= link_to "Edit Vehicle", edit_car_path(car.id) %><br><br>
            <%end%>
          <% else %>
            <%= "You have no cars saved." %>
            <%= button_to "Add a Car!", new_car_path %><br />
          <% end %>
