    <%= flash[:message] if flash[:message] %>
    <h1>
          <%= "Info for the selected vehicle:" %> <br />    </h1>
              <%= "#{@car.make}" %> <br />
          <ul>
          <li><%= @car.model %></li>
          <li><%= @car.year %></li>
          <li><%= @car.color %></li>
          </ul>
          <%= link_to "Edit Vehicle", edit_user_car_path(current_user, @car) if current_user == @car.user.id %><br />
          <%= link_to "Delete Vehicle", user_car_path(current_user, @car),  method: :delete if current_user == @car.user.id %><br />
