<!DOCTYPE html>
<html>
  <head>
    <title>Puddlr</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <script>
      function showToast(message, duration){
         Materialize.toast(message, duration);
      }
      </script>
  </head>
  <body>
    <!--  navbar -->
    <header>
      <nav>
      <div class="nav-wrapper green-lighten">
        <% if session[:user_id] %>
         <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
         <%end%>
        <a href="/" class="brand-logo">Puddlr</a>
        <ul id="nav-mobile" class="right">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content' >
            <% if session[:user_id] %>
              <li><%= link_to "Dashboard", user_path(session[:user_id]) %></li>
              <li><%= link_to "Log Out", signout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
          </ul>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <!--  Dont put page in a container if it is the index -->
    <!--  Because we want the background to cover the entire page -->

    <% if current_page?(root_path) %>
      <style>
      header, main, footer {
        padding-left: 0px;
      }
      </style>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= flash[:message] if flash[:message] %>
        <!-- Side-Nav  -->
        <!-- <div class="col s12 m4 l3">   -->
           <ul id="slide-out" class="side-nav fixed">
             <li><div class="userView">
               <div>
                 <%=image_tag("Puddlr2.png", size: "100x100")%>
               </div>
             </div></li>
             <% if current_user %>
              <% @user = User.find(current_user)  %>
               <% if @user.profiles.first %>
               <li><%= link_to @user.profiles.first.name.titleize, user_path(@user) %></li><br />
             <li><%= link_to "Open Puddles", puddles_path %></li><br />
             <li><%= link_to "Create a Puddle", new_puddle_path %></li><br />
               <li><%= link_to "Your Profile", profile_path(@user.profiles.first) %></li><br />
             <li><%= link_to "Add Car", new_user_car_path(@user) %></li><br />
             <li><%= link_to "Your Car(s)", user_cars_path(@user) %></li><br />
             <% end %>
             <%end%>
           </ul>


           <script>
           $('.button-collapse').sideNav({
               menuWidth: 200, // Default is 240
               edge: 'left', // Choose the horizontal origin
               closeOnClick: false, // leaves sidenav open
               draggable: true // Choose whether you can drag to open on touch screens
             }
           );
           </script>
           <%= yield %>
      </div>
    <% end %>
  </main>
        <footer class="page-footer" style="margin-top: -20px">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Puddlr</h5>
                <p class="grey-text text-lighten-4">WE ARE PUDDLR!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Puddlr
            <a class="grey-text text-lighten-4 right" href="#!">API</a>
            </div>
          </div>
        </footer>
  </body>
</html>
